node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
#/build  # the dumb way I have my webserver setup we don't compile onboard

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
